version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-deps:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      prod-deps:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
    assignees:
      - "sleberknight"
      - "chrisrohr"
    open-pull-requests-limit: 10
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions-deps:
        patterns:
          - "*"
    assignees:
      - "sleberknight"
      - "chrisrohr"

  # Logstash Docker image tracking (for test containers)
  - package-ecosystem: "docker"
    directory: "/dependabot-images/logstash"
    schedule:
      interval: "weekly"
    assignees:
      - "sleberknight"
      - "chrisrohr"

  # Netcat Docker image tracking (for test containers)
  - package-ecosystem: "docker"
    directory: "/dependabot-images/netcat"
    schedule:
      interval: "weekly"
    assignees:
      - "sleberknight"
      - "chrisrohr"
