version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-deps:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      prod-deps:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
    assignees:
      - "sleberknight"
      - "chrisrohr"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore(deps)"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions-deps:
        patterns:
          - "*"
    assignees:
      - "sleberknight"
      - "chrisrohr"
    commit-message:
      prefix: "chore(deps)"

  # Docker image tracking (for test containers)
  - package-ecosystem: "docker"
    directory: ".github/dependabot-images"
    schedule:
      interval: "weekly"
    groups:
      elk-stack:
        patterns:
          - "docker.elastic.co/logstash/logstash"
          - "toolbelt/netcat"
    assignees:
      - "sleberknight"
      - "chrisrohr"
    commit-message:
      prefix: "chore(deps)"
